* {
    margin:                 0px;
    padding:                0px;
}

html, body {
    font:                   1em/1.5em Helvetica, sans-serif;
    height:                 100%;
}

h1 {
    font-size:              1.7em;
    font-weight:            normal;
    line-height:            1.7em;
}

fieldset.screenRes {
    background:             -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #F9F9F9), color-stop(0.5, #E4E3E3), to(#D6D4D4));
	background:             -moz-linear-gradient(top, #F9F9F9, #E4E3E3 50%, #D6D4D4);
    width:                  360px;
    border:                 2px solid #D8D8D8;
    -webkit-border-radius:  10px;
    -moz-border-radius:     10px;
    padding:                10px 20px 10px;
}

fieldset > label:first-child {
    display:                block;
    margin-bottom:          10px;
    font-size:              1em;
    font-weight:            bold;
}

fieldset button {
    margin:                 20px 2px 2px;
    padding:                3px 6px 4px;
}

fieldset input {
    margin:                 3px;
    vertical-align:         top;
}

ul li {
    list-style:             circle;
    margin:                 0px 0px 0px 25px;
}

a {
    color:                  #039;
    font-weight:            bold;
}
a:visited {
    color:                  #006;
}
a:hover {
    color:                  #00f;
}
a:focus {
    outline:                #666 dotted 1px;
}

.mainContent {
    position:               relative;
    min-height:             100%;
    width:                  85%;
    min-width:              900px;
    margin:                 0px auto;
}

.copy {
    width:                  45%;
    padding-bottom:         35px;
}

.copy p {
    margin:                 15px 0px;
}

.copy code {
    font:                   0.8em Monaco, Courier;
}

header {
    display:                block;
    border-bottom:          1px solid #999;
    margin-bottom:          10px;
}

footer {
    position:               absolute;
    bottom:                 0;
    padding:                5px 0px;
    border-top:             1px solid #999;
    height:                 30px;
    width:                  100%;
    line-height:            0.7em;
    font-size:              0.6em;
}

div #copyright {
    float:                  right;
    text-align:             right;
}
